// See: https://sass-lang.com/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout
 */

 body {
  background-color: #F7F7FA;
}

main {
  display: flex;
  margin: auto;
  margin-top: 70px;
  width: 100%;
  background-color: #F7F7FA;

  h2 {
    text-align: center;
  }

  .nav-bar-left {
    display: flex;
    width: 250px;
    flex-direction: column;
    list-style-type: none;
    background-color: lightblue;

    li {
      display: inline;
      cursor: pointer;

      i {
        padding: 10px;
      }
    }

    li:hover {
      background: orange;
    }
  }

  #main-body {
    width: 90%;
  }
}


