// See: https://sass-lang.com/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout
 */

 body {
  background-color: #F7F7FA;
}

main {
  display: flex;
  margin: auto;
  margin-top: 70px;
  width: 100%;

  #main-body {
    background-image: url("https://github.com/CaseyQWood/To-Do-List/blob/master/public/images/teal-maountain-background.jpeg?raw=true");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  h2 {
    text-align: center;
  }

  .nav-bar-left {
    display: flex;
    width: 250px;
    flex-direction: column;
    list-style-type: none;
    background-color: #EFF9FB;
    padding: 3em 1em;

    li {
      display: inline;
      padding: 0.5em;
      border-radius: 10px;
      cursor: pointer;

      i {
        padding: 10px;
      }
    }

    li:hover {
      background: #ffffff;
    }
  }

  #main-body {
    width: 90%;
  }
}


