nav {
  background-color: #66635B;

  .nav-container {

    .nav-bar-top {
      height: 70px;
      width: 100%;
      position: fixed;
      top: 0;
    }

    li {
      display: inline;
      cursor: pointer;

      i {
        padding: 10px;
      }
    }

    li:hover {
      background: orange;
    }

  }

}
