nav {
  display: flex;
  background-color: #66635B;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  color: #eeeeee;

  .nav-container {
    display: flex;
    justify-content: space-between;

    > ul {
      padding: 0;
      margin: 1em;
    }

    ul {
      list-style-type: none;

      li {
        display: inline;
        cursor: pointer;

        i {
          padding: 10px;
        }
      }
    }
  }

}
