form {
  padding: 2em;

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #505f63;
    border-radius: 5px;
    background: transparent;
  }

  input:focus {
    outline: none;
  }
}
